# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# snakemake files
.snakemake/
data/SirPent/local_launch_fomes.sh

# Session Data files
.RData

# Data files priv/too large
sandbox/
ignore/
data/raw_data/base_networks/
data/raw_data/degreedist_networks/
data/raw_data/modularity_networks/
data/raw_data/cluster_networks/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
*.pdf
*.html
*.docx

# MAC files
.DS_Store

