# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# snakemake files
.snakemake/
data/SirPent/local_launch_fomes.sh

# Session Data files
.RData

# Data files priv/too large
workoutline.md
sandbox/
ignore/
simulations/00_snakeinput_data/
simulations/00_snakeinput_networks/
simulations/01_generated_simulation_runs/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
*.pdf
*.html
*.docx

# MAC files
.DS_Store
.Renviron

simulations/OLD-01_generated_simulation_runs/

analyses/zbackend-large_simulation_sirpent_runs/nohup.out
